@media screen and (max-width: 1024px) {

    .alarm-section img,
    .timer-section img,
    .stopwatch-section img,
    .exact-time-section img {
        width: 200px;
    }

    .name {
        font-size: 28px;
    }

    .sections {
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {

    .left-menu a,
    .right-menu a {
        font-size: 18px;
    }

    .btn,
    .danger,
    .success {
        font-size: 18px;
    }

    .alarm-time, .exact-time-time{
        font-size: 96px;
        font-weight: bold;
    }
    
    .alarm-date, .exact-time-date {
        font-size: 28px;
    }

    .timer-time, .stopwatch-time {
        font-size: 72px;
        font-weight: normal;
    }
    
    .stopwatch-time span {
        font-size: 36px;
        font-weight: normal;
    }

    .alarm-section img,
    .timer-section img,
    .stopwatch-section img,
    .exact-time-section img {
        width: 150px;
    }

    .sections {
        margin-top: 60px;
    }

    .name {
        font-size: 22px;
    }

    .instruction-paragraph,
    .instruction-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        display: flex;
        align-items: center;
        padding: 15px 0 20px 0;
    }

    .left-menu {
        margin-right: auto;
        margin-left: 20px;
    }
    
    .right-menu {
        margin-left: auto;
        margin-right: 20px;
    }

    .left-menu a,
    .right-menu a {
        font-size: 10px;
    }

    .btn {
        padding: 7px 7px;
        font-size: 10px;
    }

    .danger {
        font-size: 10px;
        padding: 7px 15px;
        margin-right: 5px;
    }
    
    .success {
        font-size: 10px;
        padding: 7px 15px;
        margin-left: 5px;
    }

    .alarm .btn, .timer .btn {
        margin-top: 20px;
    }

    .alarm-time, .exact-time-time{
        font-size: 48px;
        font-weight: bold;
    }
    
    .alarm-date, .exact-time-date {
        font-size: 14px;
    }

    .timer-time, .stopwatch-time {
        font-size: 36px;
        font-weight: normal;
    }
    
    .stopwatch-time span {
        font-size: 24px;
        font-weight: normal;
    }

    .alarm-section img,
    .timer-section img,
    .stopwatch-section img,
    .exact-time-section img {
        width: 80px;
    }

    .sections {
        margin-top: 50px;
    }

    .name {
        font-size: 14px;
    }

    .instruction-paragraph,
    .instruction-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px){
    .menu {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    .left-menu {
        margin-right: auto;
        margin-left: 5px;
    }
    
    .right-menu {
        margin-left: auto;
        margin-right: 5px;
    }

    .left-menu a,
    .right-menu a {
        font-size: 10px;
    }

    .sections {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
    }

}

@media screen and (max-width: 355px){
    .left-menu a,
    .right-menu a {
        font-size: 8px;
    }

    .sections {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }
}

@media screen and (max-width: 300px){
    .left-menu a,
    .right-menu a {
        font-size: 5px;
    }

    .alarm-section img,
    .timer-section img,
    .stopwatch-section img,
    .exact-time-section img {
        width: 50px;
    }

    .name {
        font-size: 8px;
    }
}